:root {
  --background: #f2f2f2;
  --text: #333333;
  --container: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333333;
    --text: #f2f2f2;
    --container: #424242;
  }
}

#__next {
  height: 100%;
}

html, body {
  background: var(--background);
  color: var(--text);
  height: 100%;
  margin: 0;
  padding: 0;
}